body {
    background-image: url("law_bg.jpg");
    background-color: rgba(84, 29, 10, 0.623);
    background-repeat: no-repeat;
    background-size:cover
}
@font-face {
    font-family: myFont;
    src: url(cormorant_bold.ttf);
}

.container{
    width: 80%;
    margin: auto;
}

header {
    background-color: rgba(172, 121, 121, 0.856);
    opacity: 0.75;
}

header::after{
    content: "";
    display: table;
    clear:both
}

nav {
    float: right;
    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 80px;
    padding-top: 17px;
    position: relative;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

nav a:hover{
    color: black;
}

nav a::before{
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: black;
    
    position: absolute;
    top: 0%;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

div.p1{
    font-weight: 400;
    font-family: myFont;
    background-color: white;
    text-align: left;
    border: 50px;
    padding: 10px;
    opacity: 0.65;
    position: absolute;
}

div.text2{
    font-family: myFont;
    font-style: italic;
    font-size: 26px;
    color: white;
    bottom: 20px;
    left: 100px;
    position: absolute;
}

div.text3{
    font-family: myFont;
    font-style: italic;
    font-size: 30px;
    color: white;
    bottom: 15px;
    left: 535px;
    position: absolute;
}

div.text4{
    font-family: myFont;
    font-style: italic;
    font-size: 26px;
    color: white;
    bottom: 20px;
    left: 580px;
    position: absolute;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: antiquewhite;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
    bottom: 40px;
    right: 30px;
  }
  
  .button:hover {background-color: grey}
  
  .button:active {
    background-color: grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  button a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: 300;
    font-family: Helvetica;
    font-style: italic;

  }

  .button1 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: antiquewhite;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
    margin-top: 60px;
    margin-left: 40px;
    position: absolute;
  }
  
  .button1:hover {background-color: grey}
  
  .button1:active {
    background-color: grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  button a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: 300;
    font-family: myFont;
  }

  .button2 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: antiquewhite;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
    margin-top: 340px;
    margin-left: 40px;
    position: relative;
  }
  
  .button2:hover {background-color: grey}
  
  .button2:active {
    background-color: grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  button a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: 300;
    font-family: Helvetica;
  }

  